/*Colour Palette
/---------------
#0B2343 - Oxford Blue
#ffcc05 - Sunglow
#FF6B40 - Outrageous Orange
#00BAE4 - Cyan Process
*/

/* Fonts
/-------
font-family: 'Montserrat', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/

html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

header {
  position: fixed;
  width: 100%;
  display: block;
  margin-right: -0.5rem;
  /* border: 5px solid green; */
}

nav {
  background-color: #0b2343;
  display: flex;

  width: 100%;

  padding: 1rem 0;
  margin-right: 1em;

  /* border: 5px solid orangered; */
}

nav a img {
  background-color: white;

  height: 5rem;
  width: 5rem;

  margin-left: 10rem;
  border-radius: 10rem;
}

nav a {
  text-decoration: none;
  color: white;
  flex-basis: 30%;
}



/* Navbar container */
.navbar {
  /* overflow: hidden; */
display: flex;
  font-family: "Montserrat", sans-serif;
  /* border: 5px solid brown; */
  margin-left: 15rem;
  margin-top: -1rem;
  
}

/* Links inside the navbar */
.navbar .home, .navbar .about {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding-bottom: -1rem;
  text-decoration: none;
  margin-top: 1rem;
  /* border: 5px solid white; */
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  /* border: 5px solid green; */
}

/* Add a Sunglow background color to navbar links on hover */
.navbar .home:hover,.navbar .about:hover,
.dropdown:hover .dropbtn {
  background-color: #ffcc05;
  border-radius: 1rem;
 
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/***************************
Teams Drops Down
***************************/
/* The dropdown container */
.dropdown-teams {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown-teams .dropbtn-teams {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a Sunglow background color to navbar links on hover */
.dropdown-teams:hover .dropbtn-teams {
  background-color: #ffcc05;
  border-radius: 1rem;
}

/* Dropdown content (hidden by default) */
.dropdown-content-teams {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content-teams a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
/* Show the dropdown menu on hover */
.dropdown-teams:hover .dropdown-content-teams {
  display: block;
}
/*****************************/

/* Brand styling */
.brand {
  margin-left: 0.5rem;
  margin-right: 1rem;
  background-color: aliceblue;
  padding-top: 8rem;
  display: flex;

  background-image: url(/img/map1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  /* border: 5px solid yellow; */
}

.brand h3 {
  text-align: center;
}
.brand p {
  color: #0b2343;
  text-align: center;
  margin: 10px;
  font-size: medium;
}
.about {
  display: flex;
  margin-bottom: 1rem;
  
}
.about img {
  margin-right: 2rem;
  width: 50rem;
  border-radius: 1rem;
}
.about a {
  background-color: #ffcc05;
  color: aliceblue;
  font-family: "Montserrat", sans-serif;
  font-size: x-large;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 2rem;
}
/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
img {
  height: 320px;
  width: 320px;
}

aside {
  display: flex;
  /* border: 5px solid orange; */
}
aside ul {
  margin-top: 2rem;
  list-style: none;
}
.map {
  /* border: 5px solid pink; */
  margin: 2rem 5rem 1rem 5rem;
}

h1 {
  color: #0b2343;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
  font-size: 3rem;
}

h2 {
  color: #0b2343;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

h3 {
  color: #0b2343;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
}

footer {
  background-color: #0b2343;
  /* border: 5px solid red; */
  padding-bottom: 2rem;
}
footer a {
  text-decoration: none;
  flex-wrap: nowrap;
  color: #ddd;
}
footer img {
  /* background-color: #ddd; */
  height: 6rem;
  width: 6rem;
  margin-bottom: 0rem;
  margin-top: 1.5rem;
  /* border: 5px solid white; */
}
.copyright {
  margin-left: 40rem;
  margin-top: -4rem;
  /* border: 5px solid white; */
}
.copyright a {
  margin-left: 0.5rem;
}

footer ul {
  display:flex;
  color:white;
  margin-left: 40rem;
  
}

footer li{
  flex-basis: 5%;
  text-decoration: none;
  list-style-type:none ;
  margin-top: 1rem;
  font-size: xx-large;
  
}


/* 
.colour {
  height: 160px;
  width: 160px;
  border: none;
}


}
.yellow {
  background-color: #ffcc05;
}

.flame {
  background-color: #ff6b40;
}

.light-blue {
  background-color: #00bae4;
}

.logo-dark {
  background-color: #0b2343;
} */

/* .blue {
  background-color: #0b2343;
} */
