/*Colour Palette
/---------------
#0B2343 - Oxford Blue
#ffcc05 - Sunglow
#FF6B40 - Outrageous Orange
#00BAE4 - Cyan Process
*/

/* Fonts
/-------
font-family: 'Montserrat', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/

html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
<<<<<<< HEAD
<<<<<<< HEAD


  font-family: 'Montserrat', sans-serif;
font-family: 'Source Sans Pro', sans-serif;

=======
>>>>>>> parent of 85b2497 (Update style.css)
=======
>>>>>>> parent of 85b2497 (Update style.css)
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

header {
  position: fixed;
  width: 100%;
  display: block;
  margin-right: -0.5rem;

  /* border: 5px solid green; */

  /*border: 5px solid green;*/

}

nav {
  background-color: #0b2343;
  display: flex;

  width: 100%;

  padding: 1rem 0;
  margin-right: 1em;

  /* border: 5px solid orangered; */

  /*border: 5px solid orangered;*/

}

nav a img {
  background-color: white;

  height: 5rem;
  width: 5rem;

  margin-left: 10rem;
  border-radius: 10rem;
}

nav a {
  text-decoration: none;
  color: white;
  flex-basis: 30%;
}




/* Navbar container */
.navbar {
  /* overflow: hidden; */
display: flex;
  font-family: "Montserrat", sans-serif;
  /* border: 5px solid brown; */
  margin-left: 15rem;
  margin-top: -1rem;
  
}

/* Links inside the navbar */
.navbar .home, .navbar .about {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding-bottom: -1rem;
  text-decoration: none;
  margin-top: 1rem;
  /* border: 5px solid white; */

/* Brand styling */
.brand {
  margin-left: 0.5rem;
  margin-right: 1rem;
  background-color: aliceblue;
  padding-top: 8rem;
  display: flex;

  background-image: url(/img/map1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

<<<<<<< HEAD
  /*border: 5px solid yellow;*/

}

<<<<<<< HEAD


/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  /* border: 5px solid green; */
}

/* Add a Sunglow background color to navbar links on hover */
.navbar .home:hover,.navbar .about:hover,
.dropdown:hover .dropbtn {
  background-color: #ffcc05;
  border-radius: 1rem;
 
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/***************************
Teams Drops Down
***************************/
/* The dropdown container */
.dropdown-teams {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown-teams .dropbtn-teams {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a Sunglow background color to navbar links on hover */
.dropdown-teams:hover .dropbtn-teams {
  background-color: #ffcc05;
  border-radius: 1rem;
}

/* Dropdown content (hidden by default) */
.dropdown-content-teams {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content-teams a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
/* Show the dropdown menu on hover */
.dropdown-teams:hover .dropdown-content-teams {
  display: block;
}
/*****************************/

/* Brand styling */
.brand {
  margin-left: 0.5rem;
  margin-right: 1rem;
  background-color: aliceblue;
  padding-top: 8rem;
  display: flex;

  background-image: url(/img/map1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  /* border: 5px solid yellow; */
}

.brand h3 {
  text-align: center;
}
.brand p {
  color: #0b2343;
  text-align: center;
  margin: 10px;
  font-size: medium;
}
.about {
  display: flex;
  margin-bottom: 1rem;
  
}
.about img {
  margin-right: 2rem;
  width: 50rem;
  border-radius: 1rem;
}
.about a {
  background-color: #ffcc05;
  color: aliceblue;
  font-family: "Montserrat", sans-serif;
  font-size: x-large;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 2rem;
}
/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
img {
  height: 320px;
  width: 320px;
}

aside {
  display: flex;
  /* border: 5px solid orange; */
}
aside ul {
  margin-top: 2rem;
  list-style: none;
}
.map {
  /* border: 5px solid pink; */
  margin: 2rem 5rem 1rem 5rem;
}

h1 {
  color: #0b2343;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
  font-size: 3rem;
}

h2 {
  color: #0b2343;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

h3 {
  color: #0b2343;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
}

footer {
  background-color: #0b2343;
  /* border: 5px solid red; */
  padding-bottom: 2rem;
}
footer a {
  text-decoration: none;
  flex-wrap: nowrap;
  color: #ddd;
}
footer img {
  /* background-color: #ddd; */
  height: 6rem;
  width: 6rem;
  margin-bottom: 0rem;
  margin-top: 1.5rem;
  /* border: 5px solid white; */
}
.copyright {
  margin-left: 40rem;
  margin-top: -4rem;
  /* border: 5px solid white; */
}
.copyright a {
  margin-left: 0.5rem;
}

footer ul {
  display:flex;
  color:white;
  margin-left: 40rem;
  
}

footer li{
  flex-basis: 5%;
  text-decoration: none;
  list-style-type:none ;
  margin-top: 1rem;
  font-size: xx-large;
  

.main-title {
  display: flex;
  justify-content: center;
  color:#0b2343;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  border: 6px solid #0b2343;
}

.card {
  background-color: white;
  width: 21.25em;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 15px solid #0b2343;
  padding: 25px;
  margin: 15px;
  transition: 0.7s ease;
  box-sizing: border-box;
}
.card:hover {
  transform: scale(1.1);
}
i {
  color: #0b2343;
}
.icon {
  color: teal;
  font-size: 8em;
  text-align: center;
  font-weight: 700;
}

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid white;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background:#0b2343;
}
/* 
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #0b2343;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
.btn {
	padding: 14px 26px;
	font-weight: 700;
	font-size: 13px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.btn-danger {
	background-color: #e34c43;
	border-color: #e34c43;
}
#gmap_canvas
{
    filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="g"><feColorMatrix type="matrix" values="0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0 0 0 1 0"/></filter></svg>#g');
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%);    
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);
}
.map-box2{
z-index:9999; right:60px; width:360px;	
} */
=======
>>>>>>> parent of 85b2497 (Update style.css)
=======
  border: 5px solid yellow;
}

>>>>>>> parent of 85b2497 (Update style.css)
.brand h3 {
  text-align: center;
}
.brand p {
  color: #0b2343;
  text-align: center;
  margin: 10px;
  font-size: medium;
}

/* Navbar container */
.navbar {
  /* overflow: hidden; */

  font-family: "Montserrat", sans-serif;
  border: 5px solid brown;
  margin-left: 10rem;
  margin-top: -1rem;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a Sunglow background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #ffcc05;
  border-radius: 1rem;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.about {
  display: flex;
  border: 5px solid red;
}
.about img {
  margin-right: 2rem;
  width: 50rem;
  border-radius: 1rem;
}
.about a {
  background-color: #ffcc05;
  color: aliceblue;
  font-family: "Montserrat", sans-serif;
  font-size: x-large;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 2rem;
}
/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
img {
  height: 320px;
  width: 320px;
}

aside {
  display: flex;
  border: 5px solid orange;
}
aside ul {
  margin-top: 2rem;
  list-style: none;
}
.map {
  /* border: 5px solid pink; */
  margin: 2rem 5rem 1rem 5rem;
}

h1 {
  color: #0b2343;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
  font-size: 3rem;
}

h2 {
  color: #0b2343;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

h3 {
  color: #0b2343;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;

}

footer {
  background-color: #0b2343;
  border: 5px solid red;
  padding-bottom: 2rem;
}
footer a {
  text-decoration: none;
  flex-wrap: nowrap;
  color: #ddd;
}
footer img {
  /* background-color: #ddd; */
  height: 6rem;
  width: 6rem;
  margin-bottom: 0rem;
  border: 5px solid white;
}
.copyright {
  margin-left: 40rem;
  margin-top: -4rem;
  border: 5px solid white;
}
/* 
.colour {
  height: 160px;
  width: 160px;
  border: none;
}

/* 
.colour {
  height: 160px;
  width: 160px;
  border: none;
}

}
.yellow {
  background-color: #ffcc05;
}
/* 

}
.yellow {
  background-color: #ffcc05;
}

.flame {
  background-color: #ff6b40;
}

.light-blue {
  background-color: #00bae4;
}

.logo-dark {
  background-color: #0b2343;
} */

/* .blue {
  background-color: #0b2343;
} */
<<<<<<< HEAD

.flame {
  background-color: #ff6b40;
}

.light-blue {
  background-color: #00bae4;
}

.logo-dark {
  background-color: #0b2343;
} */

/* .blue {
  background-color: #0b2343;
} */
<<<<<<< HEAD
 
.readmore__content {
  max-width: 45rem;
  width: 100%;
  display: flex;
}

button.readmore__toggle {
  display: flex;
  margin-top: 3rem;
  border: none;
  background: linear-gradient(0deg, #ffcc05 0%, #ffcc05 100%);
  color: #0b2343;
  padding: 2rem;
  cursor: pointer;
  border-radius: 1rem;
  font-size: 2rem;
}

 */
=======
>>>>>>> parent of 85b2497 (Update style.css)
=======
>>>>>>> parent of 85b2497 (Update style.css)
