
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:#294f80;
   /* background-image: linear-gradient(120deg,#f6d365, #fda085);*/
    color: white;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}
header, form{
    margin-top: 3rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button{
    padding: 1rem;
    font-size: 2rem;
    border: none;
    background: white;

}
form button {
    color: #0B2343;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover{
    background:#d88771;
    cursor: pointer;
    transition: all 0.3s ease ;
}
.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    min-width: 30%;
    list-style: none;
}
.todo{
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}
.todo li{
    flex:1;
}
.trash-btn, .complete-btn{
    background:#0B2343;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.complete-btn{
    background: orange;
}
.todo-item{
    padding:  0rem 0.5rem;
}
.fa-trash, .fa-check{
    pointer-events: none;
}
.completed{
    text-decoration: line-through;
    opacity: 0.5;
}
.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: none;
}
.select {
    margin:  1rem;
    position: relative;
    overflow: hidden;
}
select{
    color: #0B2343;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}
.select::after{
    content: "\25bc";
    position: absolute;
    background: #0B2343;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}
.select:hover::after{
    background: white;
    color: #0B2343;
}
.back_btn{
    background-color: #ffcc05;
     margin-left: 50rem;
     padding: 1rem 1rem;
     border-radius: 0.5rem;
    
}

.btn_text{
    color:#0B2343;
    text-decoration: none;
    font-size: medium;
    font-weight: bold;
}